html
{
    font-size: 1.3rem;
}

body 
{
    background-color: rgb(22, 26, 31);
    color: rgb(182, 197, 211);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a 
{
    color: rgb(127, 180, 230);
    text-decoration-thickness: 0.2rem;
}

a:hover
{
    color: rgb(159, 195, 230);
}

a:active
{
    color: rgb(99, 166, 228);
}

table, tr, th, td, caption
{
    border: 0.1rem solid rgb(183, 216, 235);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-collapse: collapse;
    padding: 0.5rem;
}

img:hover
{
    width: 30%;
}

.big-letter
{
    font-size: 1.4rem;
}

#underline
{
    text-decoration: underline;
}

#blur-shadow
{
    text-shadow: 0.3rem 0.2rem 0.1rem rgb(40, 57, 68);
}

.align-center
{
    text-align: center;
}
